/*-------------------------------------------------
GENERAL
-------------------------------------------------*/
* {margin: 0; padding: 0;}
html {overflow-y: scroll;}
body {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; color: #333; text-align: center;}

h1 {font-size: 1.7em; font-weight: bold; font-family: arial, helvetica, sans-serif; margin-top: 0em; margin-bottom: 1em;color: #333; }
h2 {font-size: 1.5em;margin: 1.2em 0em 0.4em 0em;font-weight: bold;color: #666;}
h3 {font-size: 1.2em;margin: 1.2em 0em 0.4em 0em;font-weight: bold;color: #6B9F1F;}
h4 {font-size: 1.2em;margin: 1.2em 0em 0.4em 0em;font-weight: bold;color: #666;}
h5 {font-size: 1.0em;margin: 1.2em 0em 0.4em 0em;font-weight: bold;color: #666;}
h6 {font-size: 0.8em;margin: 1.2em 0em 0.4em 0em;font-weight: bold;color: #666;}

img {border: 0;}
ol, ul, li {font-size: 1.0em;line-height: 1.3em;margin-top: 0.2em;margin-bottom: 0.1em; }
ol, ul {padding-left:0.5em;}
p {font-size: 1.0em;line-height: 1.3em;margin: 1.2em 0 1em 0;}
strong, b, .strong {font-weight: bold;}
small {font-size:1.0em;}

/* ##################### */
/*      LINK STYLES      */
/* ##################### */
a:link                          { color:#0060BF; text-decoration: underline; }
a:visited                       { color:#0060BF; text-decoration: underline; }
a:active                        { color:#0060BF; text-decoration: underline; }
a:hover                         { color:#000000; text-decoration: none; }

/*-------------------------------------------------
Container
-------------------------------------------------*/
#header, #content, #footer {position: relative;text-align: left;margin: 0 auto;width: 760px;}
#content {padding: 1.5em 0;}
#container {
	border: solid 1px #fff;
	border-width: 0 1px;
	margin: 0 -1px;		/* compensate for the borders because of 100% width declaration */
	width: 100%;
	z-index: 1;
}
/*-------------------------------------------------
HEADER
-------------------------------------------------*/
#header {font-family: arial, helvetica, sans-serif;padding-top: 5px;border-bottom: 1px solid #f3f3f3;}

#globalnav {
	position: relative;
	top: 0;
	left: 0;
	line-height: 1;
	height: 65px;
	width: 100%;
}

#smartblog-logo {
	float: left;
	position: relative;
	top: 6px;
	left: 0;
	width: 155px;
	height: 55px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#smartblog-logo a:hover {
	background-color: transparent;
}
#account-menu {
	float: right;
	height: 22px;
}
#account-menu #inbox {
	display: block;
	overflow: hidden;
	width: 12px;
	height: 13px;
	margin-left: 7px;
	background: url(../images/icon_unread_bw.gif) no-repeat 0 2px;
}
#account-menu .Unread {
	background-image: url(../images/icon_unread.gif) !important;
}
#site-menu {
	clear: right;
	position: relative;
	top: 7px;
	left: 0;
	width: 585px;
	height: 22px;
	float: right;
}

.menu a:link { color:#0060BF; text-decoration: none; }
.menu a:visited { color:#0060BF; text-decoration: none; }
.menu a:active { color:#0060BF; text-decoration: none; }
.menu a:hover { color:#000; text-decoration: none; background-color: #e5e5e5; }
.menu li {list-style-type: none;}

#globalnav .menu, #bottomnav .menu {
	margin: 0;
	padding: 0;
	line-height: 1;
}
#globalnav .menu li,
#globalnav .menu dt,
#globalnav .menu dd,
#bottomnav .menu li {
	float: left;
}
#globalnav .menu a, #globalnav .menu span.disabled, #bottomnav .menu a {
	padding: 2px 5px;
	border-right: 1px solid #e5e5e5;
}
#globalnav .menu span.disabled { padding: 0 5px; }

.menu .tail a, .menu .tail span { border-width: 0 !important;}

#menu-dropper a {
	padding: 2px 18px 2px 5px !important;
	margin-right: 5px;
	background: url(../images/bar_arrow.gif) no-repeat right;
}
#menu-dropper a:hover {
	color:#000; text-decoration: none; background-color: transparent;
}

#main-menu, #bottom-menu {
	width: 100%;
}
#bottomnav #copyright {clear:both;padding: 5px;}

#dropdown {
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%;
	z-index: 1998;
}
#dropdown-menu {
	position: relative;
	width: 760px;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	z-index: 1999;
}
#dropdown-menu dd {
	float: left;
	width: 122px;
	text-align: left;
}
#dropdown-menu dt {
	float: left;
	width: 100%;
	text-align: right;
}

#dropdown-menu .menu-title {
	padding: 3px 5px;
	font-weight: bold;
}
.menu .divide {
	border-top: 1px solid #e5e5e5;
}
#dropdown-menu .menu {
	padding: 5px;
}
#dropdown-menu .menu a, #dropdown-menu .menu span.disabled {
	display: block;
	width: 95%;
	padding: 2px 5px;
}
#dropdown-menu .menu span.disabled, 
#globalnav .menu span.disabled { color: #999; }
#dropdown-menu .menu li {
	float: none;
	width: auto;
	list-style-type: none;
}
.inline {
	display: inline !important;
}

#heading h1 {margin-bottom: 0.5em;}
#heading p {font-size: 1.0em;line-height: 1.3em;margin: 0.5em 0em;}

/*-------------------------------------------------
FOOTER
-------------------------------------------------*/
#footer {margin-top: 3em;padding-top: 1em;padding-bottom: 1em;padding-left: 1em;line-height: 1.8em;border-top: 1px solid #f3f3f3;}

.centerblock{padding:1em;margin:50px auto;width:400px;height:150px;background-color:#EFF8E1;border:1px solid #91D134; vertical-align:middle;}

.pigblock{
	padding: 1em 5em 1em 8em;
	padding-left: 5em;
	margin:50px 10px 10px 180px;
	width:450px;
	background-color:#EFF8E1;
	border:1px solid #91D134; 
	vertical-align:middle;
}

.pig {
	position: absolute;
	top: 70px;
	left: 10px;
	z-index: 188;
}

.highlight {
	font-weight: bold;
	background-color:#CBF5A0;
}