/* A CSS Framework by Mike Stenhouse of Content with Style */

/* SITE SPECIFIC LAYOUT */
    body {
        margin: 0;
        padding: 0;
        background: white url(images/background.gif) top left repeat-x;
        text-align: center;
    }
    div#page {
        width: 780px;
        margin:  0 auto;
        padding: 0;
        text-align: center;
    }
    
    /* HEADER */
        div#header {
            margin: 0 0 5em 0;
            padding: 6px 0 2px 10px;
            text-align: left;
        }

            div#switchLocale {
                position: absolute;
                right: 10px;
            }
        
        div#branding {
            float: left;
            width: 80%;
            margin: 0;
            padding: 10px 0 10px 30px;
            text-align: left;
        }
        div#search {
            float: right;
            width: 49%;
            margin: 0;
            padding: 40px 40px 0 0;

            text-align: right;
        }
    /* END HEADER */
    
    
    /* CONTENT */
        div#content {
        }
            body#error #content {
                margin-top: 20px;
            }
        /* MAIN */
            div#main {
                padding-left: 15px;
            }

                div#main form ul li {
                    list-style-type: none;
                    margin-left: 0;
                }
        /* END MAIN */
        
        /* SUB */
            div#sub h2 {
                margin-bottom: 5px;
            }

            div#sub ul {
                margin: 0;
            }

            div#sub ul li {
                list-style-type: none;
                margin-left: -30px;
                padding-bottom: 10px;
            }

                div#sub p.line {
                    border-top: 1px dotted #ccc;
                    margin: 15px 0;
                }
            
        /* END SUB */
        
    /* END CONTENT */
    
    /* FOOTER */
        div#footer {
            color: #444;
            padding: 0 39px;
            text-align: left;
            font-size: 0.9em;
        }

            div#footer div#divider {
                    margin: 0 0 4px 0;
                    border-top: 1px solid #ccc;
            }

            div#footer div#divider div {
                    margin: 1px 0 0 0;
                    border-top: 6px solid #ebf5fc;
            }

            div#footer .left {
                    float: left;
            }

            div#footer .right {
                    float: right;
            }
    /* END FOOTER */
/* END LAYOUT */

.pages a, .pages span {
	display: block;
	float: left;
	color: #438DCA;
	padding: 0.25em 0.25em 0.25em 0.25em;
	margin-right: 3px;
	border: 0px none #99CC33;
	background: #ffffff;
}

.pages span.current {
	border: 0px solid #438DCA;
	font-weight: bold;
	background: #438DCA;
	color: #FFF;
}

.pages a {
	border: 0px solid #99CC33;
	text-decoration: none;
}

.pages a:hover {
	border-color: #438DCA;
	background: #438DCA;
	color: #FFF;
}

.pages a.nextprev {
	font-weight: bold;
}

.pages span.nextprev {
	color: #390;
}

.pages span.nextprev {
	border: 1px solid #99CC33;
	color: #438DCA;
}
#rightmenu {
	RIGHT: 5px; WIDTH: 250px; POSITION: absolute; TOP: 60px; BACKGROUND-COLOR: #fff
}
#rightmenu H3 {
	BORDER-RIGHT: #69a 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #69a 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 2px; MARGIN: 10px 0px 0px; BORDER-LEFT: #69a 1px solid; COLOR: #06a; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #adf
}
#rightmenu UL {
	BORDER-RIGHT: #69a 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #69a 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #69a 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #69a 1px solid; LIST-STYLE-TYPE: none
}